.star {
    font-size: 30px;
    margin-right: 10px;
    color: #FF6060;
    border: none;
}

.starEmpty {
    position: relative;
    font-size: 30px;
    margin-right: 10px;
    color: lightgrey;
    border: none;
  }

  @media screen and (max-width: 767px) {
    .star {
        margin-right: 5px;
        font-size: 15px;
    }

    .starEmpty {
        margin-right: 5px;
        font-size: 15px;
    }
  }