.container_rental{
    background-color: #F6F6F6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 50px;
    padding: 50px;
    gap: 50px;
    border-radius: 25px;
}

@media screen and (max-width: 768px){
    .container_rental{
        grid-template-columns: 1fr;
        padding: 20px;
        margin: auto;
        background-color: unset;
        gap: 20px;
        
    }
}

@media screen and (max-width: 767px){
    .container_rental{
        width: 90%;
        padding: 20px 0;
    }
    
}