.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 223px;
    margin: 0 0px;
}

.banner_opacity {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

.main_banner {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.title {
    position: absolute;
    color: white;
    font-size: 3rem;
    font-weight: 500;
}

@media screen and (max-width: 768px){
    .banner {
        height: 150px;
        margin: 0 20px;
        border-radius: 10px;
    }
    .title {
        width: 100%;
        font-size: 36px;
        text-align: center;
    }
}

@media screen and (max-width: 767px){
    .banner {
        width: 90%;
        height: 120px;
        margin: 0 auto;
    }

    .main_banner {
        border-radius: 10px;
    }

    .banner_opacity {
        border-radius: 10px;
    }

    .title {
        width: 50%;
        font-size: 24px;
        text-align: start;
        left: 20px;
    }
    
}

@media screen and (max-width: 400px){
    .title{
        width: 55%;
    }
}

@media screen and (max-width: 360px){
    .title{
        width: 60%;
    }
}

@media screen and (max-width: 320px){
    .title{
        width: 65%;
    }
    
}